[block: top]
			<!-- about us page -->
				<div class="box">
					<div class="head">About Us</div>
					<div class="body group">{:about_text}</div>
				</div>
[/block: top]

[block: row]
				<div class="box">
					<div class="head"><a href="/profiles/{:user_id}">{:username}</a></div>
					<div class="body group">{:bio}</div>
				</div>
[/block: row]
