[block: post]
			<!-- edit forum post -->
				<div class="box"><div class="head">Editing a forum post</div></div>
				<form method="post">
[/block: post]

[block: edit_top]
Topic Title: <input type="text" name="title" value="{:title}" /><br />
[/block: edit_top]

[block: edit_bottom]
<div class="box">
	<div class="body group">
		<button type="submit" name="act" value="Edit" formaction="{:action}">Edit</button>
		<button type="submit" formaction="{:cancel_action}">Cancel</button>
		<button id="preview_text_button" type="button">Preview</button>
		<input type="hidden" name="page" value="{:page}" /><input type="hidden" name="topic_id" value="{:topic_id}" />
	</div>
</div>
</form>
[/block: edit_bottom]

[block: preview]
<div class="preview_pm">
	<div class="box">
		<div class="head">Preview</div>
		<div id="preview" class="pm_text_preview body group"></div>
	</div>
</div>
[/block: preview]
