[block: top]
			<!-- forum page -->
				<div class="box">
					<div class="head">Forum <a href="/forum_rss.php"><img src="/templates/default/images/social/white/rss.svg" alt="" class="fright" width="23px"></a></div>
				</div>
[/block: top]

[block: options]
<div class="box">
	<div class="group">
		<div class="fright">
		{:new_topic} <select class="wrap ays-ignore" name="category" onchange="window.open(this.options[this.selectedIndex].value, '_self')"><option value="">Jump to a category</option>{:forum_list}</select></div>
	</div>
</div>
[/block: options]

[block: topics]
<div class="post_row">
		<div class="forum_avatar_holder">
				<img src="{:avatar}" class="index_avatar" alt="avatar" height="50" width="50" />
		</div>
		<div class="post_info_container">
			<div class="forum_post_info">
					<span style="padding-left: 2px; vertical-align: middle; display: table-cell;">{:is_locked}<a href="{:link}">{:title}</a> {:replies}<br />
					<em>By <a href="{:profile_link}">{:username}</a> in <a href="{:forum_link}">{:forum_name}</a></em></span>
			</div>
			<div class="forum_last_post last_post"><a href="{:last_link}">Last post by {:last_username}</a><br /><abbr title="{:tzdate}" class="timeago">on {:last_date}</abbr></div>
		</div>
</div>
[/block: topics]

[block: bottom]
{:pagination}
[/block: bottom]
