[block: footer]
	</div>
</div>
<footer id="footer" class="group smooth grid">
	<div id="footer-wrapper" class="row">
		<div class="container">
			<div id="social" class="col-8">
				<ul>
					{:social_icons}
					{:article_rss}
					{:forum_rss}
				</ul>
			</div>
			<div id="about" class="col-4">
				<a href="{:url}">{:site_title} &copy; {:year}</a> - <a href="{:url}privacy.html">Privacy</a>, <a href="{:url}ethics.html">Ethics</a>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript" src="{:url}includes/jscripts/jquery.timeago.js"></script>
<script type="text/javascript" src="{:url}includes/jscripts/jquery.qtip.min.js"></script>

<script type="text/javascript">
	// if (typeof postdate == "undefined") { postdate = 0; } else { postdate.setDate(postdate.getDate() + 1); }
	jQuery("abbr.timeago").timeago('init'); //, {cutoff:86400}
	jQuery('a.tooltip-top').qtip({
	    position: {
	        my: 'bottom center',
	        at: 'top center'
	    },
	    style: {
	        classes: 'qtip-bootstrap qtip-shadow'
	    }
	});
	jQuery('span.tooltip-top').qtip({
	    position: {
	        my: 'bottom center',
	        at: 'top center'
	    },
	    style: {
	        classes: 'qtip-bootstrap qtip-shadow'
	    }
	});
	jQuery('img.tooltip-top').qtip({
		position: {
			my: 'bottom center',
			at: 'top center'
		},
		style: {
			classes: 'qtip-bootstrap qtip-shadow'
		}
	});
	jQuery('button.tooltip-top').qtip({
		position: {
			my: 'bottom center',
			at: 'top center'
		},
		style: {
			classes: 'qtip-bootstrap qtip-shadow'
		}
	});
</script>
{:editor_js}
{:user_graph_js}
{:hook_footer_code}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.gamingonlinux.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<noscript><p><img src="https://www.gamingonlinux.com/piwik/piwik.php?idsite=1&rec=1" style="border:0" alt="" /></p></noscript>
</body>
</html>{:debug}
[/block: footer]
