[block: small]
<div class="box">
	<div class="body group">
		<form method="get" action="/index.php">
			<span class="col-8"><input type="hidden" name="forums" value="all" /> <input placeholder="Search the forum..." style="display: inline; width: 100%;" type="text" name="q" /></span> <span class="col-4"><button style="display: inline; float: right;" type="submit" name="module" value="search_forum">Search</button> <button type="submit" name="module" value="search_forum" style="display: inline; float: right;" formaction="/index.php?module=forum_search">Advanced Search</button></span>
		</form>
	</div>
</div>
[/block: small]

[block: top]
				<div class="box">
					<div class="head">Search the forum</div>
					<div class="body group">
						<form method="get" action="{:url}index.php">
							<input type="hidden" name="module" value="search_forum" />
							<input type="text" name="q" value="{:search_text}" /> <br />
							<button class="btn btn-primary">Search</button><br />
							<br />
							<strong>Search Options</strong><br />
							<label class="checkbox">
							Title has to include all the searched words? <input type="checkbox" name="strict" {:strict_check} />
							</label>
							<select name="forums"><option value="all">Search all forums</option>{:forum_list_search}</select>
						</form>
					</div>
				</div>
[/block: top]

[block: row]
			<div class="box">
				<div class="body group"><a href="/forum/topic/{:topic_id}">{:title}</a> by {:username} {:date}</div>
			</div>
[/block: row]

[block: bottom]
{:pagination}
[/block: bottom]
