[block: articles_top]
				{:top_of_home_hook}
				<div class="box" style="margin: 0;">
					<div class="head">Latest Articles 
						{:quick_nav}
					</div>
				</div>
[/block: articles_top]

[block: bottom]
	<div class="clearer"> </div>
	{:pagination}
[/block: bottom]

[block: quick_nav]
<div class="toggle-nav fright">
	<div class="quick-tags">Go to: {:quick_tag_normal} </div>
	<a class="link_button quick-nav-slider" href="#">Quick Tags</a>
	<div class="toggle-content">
	<ul>{:quick_tag_hidden}</ul>
	</div>
	</div>
[/block: quick_nav]
