[block: main]
        <div class="box">
					<div class="body group">
						<form method="post" action="{:url}index.php?module=login">
							<input class="ays-ignore" name="username" type="text" value="{:username}" placeholder="Username or Email" />
							<input class="ays-ignore" name="password" type="password" placeholder="Password" autocomplete="off" />
							<label>
								<input class="ays-ignore" name="remember_name" type="checkbox" {:username_remembered:}/> Remember username
							</label>
							<label>
								<input class="ays-ignore" name="stay" checked="checked" type="checkbox" /> Stay logged in
							</label>
							<hr />
							<button type="submit" name="action" value="Login">Login</button>
							<span class="group fright" style="margin-top: 7px;">Or login with...</span>
							<hr />
							<div class="group">
								{:steam_button}
								{:twitter_button}
								{:google_button}
							</div>
							<hr />
							<div class="group">
								<a href="/register/" class="button fleft">Register</a>
								<a href="/index.php?module=login&amp;forgot" class="button fright">Forgot Login?</a>
							</div>
						</form>
					</div>
				</div>
[/block: main]

[block: small]
        <div class="box">
					<div class="body group">
						<p>Due to spam you need to <a href="{:url}register/">Register</a> and <a href="{:url}index.php?module=login">Login</a> to comment.</p>
						<form method="post" action="{:url}index.php?module=login">
							<input class="ays-ignore" name="username" type="text" value="" placeholder="Username or Email" />
							<input class="ays-ignore" name="password" type="password" placeholder="Password" autocomplete="off" />
							<label>
								<input class="ays-ignore" name="remember_name" type="checkbox"/> Remember username
							</label>
							<label>
								<input class="ays-ignore" name="stay" checked="checked" type="checkbox" /> Stay logged in
							</label>
							<hr />
							<button type="submit" name="action" value="Login">Login</button>
							<span class="group fright" style="margin-top: 7px;">Or login with...</span>
							<hr />
							<div class="group">
								{:steam_button}
								{:twitter_button}
								{:google_button}
							</div>
							<hr />
							<div class="group">
								<a href="/register/" class="button fleft">Register</a>
								<a href="/index.php?module=login&amp;forgot" class="button fright">Forgot Login?</a>
							</div>
						</form>
					</div>
				</div>
[/block: small]

[block: forgot]
<div class="box">
  <div class="head">Here you can request your password</div>
  <div class="body group">
  	<form method="post" action="index.php?module=login">
  	Email address
  	<input class="ays-ignore" type="text" name="email" />
  	<input type="submit" name="action" value="Send" class="btn btn-primary" />
  	</form>
  </div>
</div>
[/block: forgot]

[block: reset]
<div class="box">
  <div class="head">Reset your password</div>
  <div class="body group">
  	<form method="post" action="index.php?module=login&code={:code}&email={:email}">
  	New password<br />
  	<input class="ays-ignore" type="password" name="password" /><br />
  	Password again<br />
  	<input class="ays-ignore" type="password" name="password_again" /><br />
  	<br />
  	<input type="submit" name="action" value="Reset" class="btn btn-primary" />
  	</form>
  </div>
</div>
[/block: reset]
