[block: message]
				<div class="box {:type} message">
					<div class="head ">{:message}</div>
				</div>
[/block: message]

[block: yes_no]
				<div class="box">
					<div class="head">{:message}</div>
					<div class="body group">
						<form method="post" action="{:action_url}">
							<input type="submit" name="yes" value="Yes" class="btn btn-primary"/>
							<input type="submit" name="no" value="No" class="btn btn-danger" />
							<input type="hidden" name="act" value="{:act}" />
							{:act2}
						</form>
					</div>
				</div>
[/block: yes_no]

[block: redirect]
<script type="text/JavaScript">
<!--
setTimeout("location.href = '{:redirect}';",2500);
-->
</script>
[/block: redirect]
