 [block: top]
			<!-- forum page -->
				<div class="box">
					<div class="head">Forum</div>
				</div>
[/block: top]

[block: category_top]
				<div class="box">
					<div class="head">{:category_name}</div>
				
	<table class="table-stripes">
[/block: category_top]

[block: forum_row]
	<tr>
		<td width="60px" id="forum-post"><img src="{:this_template}/images/forum_icon.png" alt="icon" /></td>
		<td width="425px" id="forum-post"><a href="{:forum_link}" class="strong">{:forum_name}</a><br />
		{:forum_description}<br />
		Posts: {:forum_posts}</td>
		<td width="35px" id="forum-post"><img src="{:this_template}/images/last_post.png" alt="" /></td>
		<td width="200px" id="forum-post"valign="top">Last Post: {:last_post_title}<br />
		by {:last_post_username} <br />
		{:last_post_time}</td>
	</tr>
[/block: forum_row]

[block: category_bottom]
	</table>
	</div>
[/block: category_bottom]

[block: latest]
				<div class="box">
					<div class="head">Latest posts <a href="/forum_rss.php"><img src="{:this_template}/images/social/white/rss.svg" alt="" class="fright" width="23px"></a></div>
				</div>
				<div class="box">
					<div class="body group">
						{:forum_posts}
					</div>
				</div>
[/block: latest]
