[block: main]
<div class="box">
	<div class="head">Comment permalink</div>
	<div class="body group"><input id="permalink" type="text" name="post_link" value="{:permalink}" /><button class="btn" data-clipboard-target="#permalink">Copy</button></div>
</div>
[/block: main]
