[block: top]
<div class="box">
	<div class="head">Your private messages</div>
	<div class="body group"><a href="{:view_all}">View all</a> | <a href="{:compose_link}">Compose New PM</a></div>
</div>
[/block: top]

[block: search]
<div class="box">
	<div class="body group"><form method="get" action="/index.php?module=messages"><input type="hidden" name="module" value="messages" /> <span class="col-8"><input type="text" name="search_title" placeholder="Search by message title..." value="{:search_term}" /><br /> </span><span class="col-4"><button type="submit" name="view" value="search_title" style="display: inline; float: right;">Search</button></span></form></div>
</div>
[/block: search]

[block: message_row]
<div class="box {:new_message_bg}">
	<div class="body group">
	{:mail_icon}<a href="{:pm_url}" {:new_message_bolding}>{:title}</a> (Replies: {:reply_count}) - Last reply {:last_reply_date} by {:last_reply_username}<br />
	Created {:creation_date} by {:author}
	</div>
</div>
[/block: message_row]

[block: bottom]
<div class="box">
	<div class="body group"><a href="{:compose_link}">Compose New PM</a></div>
</div>
[/block: bottom]

[block: pagination]
{:pagination}
[/block: pagination]

[block: compose_top]
<form method="post" action="/index.php?module=messages">
	<div class="box">
		<div class="head">Compose a new private message</div>
		<div class="body group">
			Send to: <em>Start entering a username for it to search</em><br />
			<select tabindex="-1" multiple="" name="user_ids[]" class="call_usernames" style="width:300px" class="populate select2-offscreen">{:to}</select><br />
			Title<br />
			<input type="text" name="title" value="{:title}" /><br />
[/block: compose_top]

[block: compose_bottom]
			<button type="submit" name="act" value="New" class="btn btn-primary">Send Message</button><button id="preview_text_button" type="button">Preview Reply</button>
		</div>
	</div>
</form>
[/block: compose_bottom]

[block: view_top]
<ul class="breadcrumb">
	<li><a href="{:message_list_link}">Back to message list.</a></li>
</ul>
{:pagination}
<div class="box"><div class="head">Users in conversation: {:conversation_list}</div></div>
<div class="box comments group">
	<div class="body group">
[/block: view_top]

[block: view_row]
<div class="box"><div class="head">{:title}</div></div>
						<div id="r{:post_id}" class="comment group">
							<div class="comment-meta group">
								<div class="comment-post">
									PM from <a href="/profiles/{:user_id}">{:username}</a> {:cake_icon} <abbr title="{:tzdate}" class="timeago">on {:message_date}</abbr> {:edit_link}
								</div>
								<div class="comment-actions">
									<ul>
										<li><a class="tooltip-top quote_function" title="Quote" data-quote="{:plain_username}" data-comment="{:text_plain}"><span class="icon quote">Quote</span></a></li>
									</ul>
								</div>
							</div>
							<div class="comment-author">
								<img class="avatar" alt="" src="{:avatar}" />
								<ul class="comment-badges">
									{:badges}
								</ul>
								<ul class="comment-social">
									{:profile_fields}
								</ul>
							</div>
							<div id="{:post_id}" class="comment-body">
								<div id="{:post_id}">
									<p>{:message_text}</p>
								</div>
							</div>
						</div>
[/block: view_row]

[block: view_row_reply]
						<div id="r{:post_id}" class="comment group">
							<div class="comment-meta group">
								<div class="comment-post">
									PM from <a href="/profiles/{:user_id}">{:username}</a> {:cake_icon} <abbr title="{:tzdate}" class="timeago">on {:message_date}</abbr> {:edit_link}
								</div>
								<div class="comment-actions">
									<ul>
										<li><a class="tooltip-top quote_function" title="Quote" data-quote="{:plain_username}" data-comment="{:text_plain}"><span class="icon quote">Quote</span></a></li>
									</ul>
								</div>
							</div>
							<div class="comment-author">
								<img class="avatar" alt="" src="{:avatar}" />
								<ul class="comment-badges">
									{:badges}
								</ul>
								<ul class="comment-social">
									{:profile_fields}
								</ul>
							</div>
							<div id="{:post_id}" class="comment-body">
								<div id="{:post_id}">
									<p>{:message_text}</p>
								</div>
							</div>
						</div>
[/block: view_row_reply]

[block: view_bottom]
</div></div>
[/block: view_bottom]

[block: reply_bottom]
	<div class="box">
		<div class="body group">
			<button type="submit" name="act" value="Reply">Reply</button><button id="preview_text_button" type="button">Preview Reply</button><button formaction="/index.php?module=messages" type="submit" name="act" value="Delete">Delete Message</button>
			<input type="hidden" name="conversation_id" value="{:conversation_id}" />
		</div>
	</div>
</form>
[/block: reply_bottom]

[block: preview]
<div class="preview_pm">
	<div class="box">
		<div class="head">Preview</div>
		<div id="preview" class="pm_text_preview body group"></div>
	</div>
</div>
[/block: preview]

[block: reply]
{:pagination}
<form method="post" action="/index.php?module=messages">
[/block: reply]

[block: delete]
<form method="post" action="/index.php?module=messages">
	<button formaction="/index.php?module=messages" type="submit" name="act" value="Delete">Delete Message</button>
	<input type="hidden" name="conversation_id" value="{:conversation_id}" />
</form>
[/block: delete]

[block: edit]
<div class="box"><div class="head">Edit your personal message</div></div>
<form method="post" action="{:formaction}">
[/block: edit]

[block: edit_bottom]
<div class="box">
	<div class="body group">
		<button type="submit" name="act" value="Edit" class="btn btn-primary">Edit</button><button id="preview_text_button" type="button">Preview Edit</button>
	</div>
</div>
</form>
[/block: edit_bottom]
