[block: main]
<style>
.hideme{display:none;visibility: hidden;position: absolute;left: -999em;}
</style>
<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="box">
	<div class="body group">
		You can use this form to register to become a full user of the website. If you do not see a captcha to prove you are not a bot disable adblock plus. You never see the captcha again once registered.<br />
    <br />
    <strong>By signing up you are agreeing to certain rules, <a href="/index.php?module=rules" target="_blank">click here for them</a>.</strong><br />
		<br />
		<form method="post" action="/index.php?module=register">
			Timezone:<br />
			{:timezone_list}
			Username, please use plain text: <br />
			<input type="text" class="keyup-char ays-ignore" name="username" /><br />
      <div class="register-warning"><div class="input-alert-text">We only allow letters, numbers, "-" and "_" characters in usernames.</div></div>
			Password: <br />
			<input type="password" class="ays-ignore" name="password" /><br />
			Verify Password: <br />
			<input type="password" class="ays-ignore" name="verify_password" /><br />
			Email, <strong>Valid email address required for verification!</strong> <br />
			<input type="text" class="ays-ignore" name="uemail" /><br />
			<div class="hideme"><input class="ays-ignore" type="text" name="email" autocomplete="off" /></div>
			{:captcha}
			<input type="submit" name="register" value="Register" class="btn btn-primary reg-button" />
		</form>
	</div>
</div>
[/block: main]

[block: twitter_new]
<style>.hideme{display:none;visibility: hidden;position: absolute;left: -999em;}</style>
<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="box">
	<div class="body group">
		You are about to create a new account with twitter, please enter the following details to complete the registration. If you want to link it to an existing account, you need to login normally and do this from the user control panel home page. As this creates a whole new user linked with this twitter account.<br />
		<br />
		<strong>By signing up you are agreeing to certain rules, <a href="/index.php?module=rules" target="_blank">click here for them</a>.</strong>
		Timezone:<br />
		{:timezone_list}
		<form method="post" action="/index.php?module=register">
		Username: <br />
		<input class="keyup-char ays-ignore" type="text" name="username" /><br />
		<div class="register-warning"><div class="input-alert-text">We only allow letters, numbers, "-" and "_" characters in usernames.</div></div>
		Email, <strong>Valid email address required for verification (otherwise Twitter spam bots would get in easily)!</strong> <br />
		<input class="ays-ignore" type="text" name="uemail" /><br />
		<div class="hideme"><input type="text" name="email" autocomplete="off" /></div>
		{:captcha}
		<input type="submit" value="Register" class="btn btn-primary" />
		<input type="hidden" name="register" value="twitter" />
		</form>
	</div>
</div>
[/block: twitter_new]

[block: google_new]
<style>.hideme{display:none;visibility: hidden;position: absolute;left: -999em;}</style>
<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="box">
	<div class="body group">
		<p>Hello <strong>{:name}</strong>, you are about to create a <strong>new account</strong> with <strong>Google</strong>, please enter the following details to complete the registration (this only needs to be done once).</p>
		<p>If you want to link it to an existing account, you need to login normally and do this from the user control panel home page. As this creates a whole new user linked with this Google account.</p>
		<strong>By signing up you are agreeing to certain rules, <a href="/index.php?module=rules" target="_blank">click here for them</a>.</strong><br />
		Timezone:<br />
		{:timezone_list}
		<form method="post" action="/index.php?module=register">
		Username: <br />
		<input class="keyup-char ays-ignore" type="text" name="username" /><br />
		<div class="register-warning"><div class="input-alert-text">We only allow letters, numbers, "-" and "_" characters in usernames.</div></div>
		Email, <strong>Valid email address required for verification (otherwise Twitter spam bots would get in easily)!</strong> <br />
		<input class="ays-ignore" type="text" name="uemail" value="{:email}" /><br />
		<div class="hideme"><input type="text" name="email" autocomplete="off" /></div>
		{:captcha}
		<input type="submit" value="Register" class="btn btn-primary" />
		<input type="hidden" name="register" value="google" />
		</form>
	</div>
</div>
[/block: google_new]

[block: steam_new]
<style>
    .hideme{
        display:none;
        visibility: hidden;
	 position: absolute;
    left: -999em;
    }
</style>
<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="well well-sm">
	Hello <strong>{:username}</strong>! You are about to create a <strong>new account</strong> with Steam, please enter the following details to complete the registration. <br />
If you want to link it to an existing account, you need to login normally and do this from the user control panel home page. As this creates a whole new user linked with this Steam account.<br />
<strong>By signing up you are agreeing to certain rules, <a href="/index.php?module=rules" target="_blank">click here for them</a>.</strong>
		<form method="post" action="/index.php?module=register">
		Timezone:<br />
		{:timezone_list}
		Username: <br />
		<input class="keyup-char ays-ignore" type="text" name="username" /><br />
    <div class="register-warning"><div class="input-alert-text">We only allow letters, numbers, "-" and "_" characters in usernames.</div></div>
		Password: <br />
		<input class="ays-ignore" type="password" name="password" /><br />
		Verify Password: <br />
		<input class="ays-ignore" type="password" name="verify_password" /><br />
		Email, <strong>Valid email address required for verification!</strong> <br />
		<input class="ays-ignore" type="text" name="uemail" /><br />
		<div class="hideme"><input type="text" name="email" autocomplete="off" /></div>
		{:captcha}
		<input type="submit" value="Register" class="btn btn-primary" />
		<input type="hidden" name="register" value="steam" />
		</form>
</div>
[/block: steam_new]
