[block: main]
			<!-- support us page -->
        		<div class="box">
					<div class="body group">
                        {:config_support_us_text}
					</div>
				</div>
[/block: main]

[block: list_top]
				<div class="box">
					<div class="head">Supporters!</div>
          <div class="body group">A random selection of nine supporters, we have too many to display at once now!</div>
				</div>
[/block: list_top]

[block: list_row_start]
				<div class="masonry-support-us">

[/block: list_row_start]

[block: list_row_end]
				</div>
[/block: list_row_end]

[block: person]
				<div class="block">
					<div class="support-us-box body group">
						<a href="/profiles/{:user_id}">
						<img src="{:avatarurl}" alt="{:username}"><br />
						{:username}</a> <br />
						{:supporter_link}
					</div>
				</div>
[/block: person]
