[block: top]
<div class="box"><div class="head">General website statistics for {:site_title}</div>
  <div class="body group">We love being open about everything, so here's some statistics on us and the website itself!</div>
</div>
[/block: top]

[block: users]
<div class="box">
  <div class="body group">
    There are <strong>{:total_users}</strong> registered users on {:site_title} and <strong>{:users_month}</strong> new users joined us this month so far!<br />
    <br />
    We have a total of <strong>{:total_articles}</strong> articles live on the site and in the last 24 hours <strong>{:total_comments}</strong> comments have been posted!
  </div>
</div>
[/block: users]

[block: articles]
<div class="box">
  <div class="head">Here is a list of who has written for {:site_title} between {:last_month} and {:now_date}</div>
  <div class="body list">
    <ul>
      {:author_list}
    </ul>
  </div>
</div>
[/block: articles]

[block: hot_articles]
<div class="box">
  <div class="head">Our 5 most viewed articles of the last 3 months</div>
  <div class="body list">
    <ul>
      {:hot_articles}
    </ul>
  </div>
</div>
[/block: hot_articles]


[block: top_articles]
<div class="box">
  <div class="head">Our 5 most viewed articles of all time</div>
  <div class="body list">
    <ul>
      {:article_list}
    </ul>
  </div>
</div>
[/block: top_articles]
