[block: top]
	<div class="box">
		<div class="head">User Notifications - <a href="/usercp.php?module=notification_preferences">Change preferences</a></div>
		<div class="body group"><a href="/usercp.php?module=notifications&go=clear_all">Mark all as read</a> | <a href="/usercp.php?module=notifications&go=remove_read">Remove all read</a> | <a href="/usercp.php?module=notifications&go=remove_all">Remove all</a></div>
	</div>
[/block: top]

[block: unread]
<div class="box"><div style="text-align: center" class="body group"><strong>Unread</strong></div></div>
{:unread_list}
[/block: unread]

[block: read]
<div class="box"><div style="text-align: center" class="body group"><strong>Read</strong></div></div>
{:read_list}
[/block: read]

[block: row]
<div id="note-{:id}" class="box"><div class="body group"><img class="{:icon}" src="{:this_template}/images/comments/{:icon}.png" alt="" /> <a href="{:profile_link}"><img src="{:avatar}" height="20" width="20" alt="" /> {:username}</a> replied to "<a href="{:link}">{:title}</a>" {:additional_comments}<span class="fright" style="clear: both;"><a href="#" class="delete_notification" title="Remove Notification" data-note-id="{:id}">&#10799;</a></span></div></div>
[/block: row]

[block: liked_row]
<div id="note-{:id}" class="box"><div class="body group"><img class="{:icon}" src="{:this_template}/images/comments/{:icon}.png" alt="" />  <a href="{:profile_link}"><img src="{:avatar}" height="20" width="20" alt="" /> {:username}</a> {:additional_likes} liked your comment on "<a href="{:link}">{:title}</a>"<span class="fright"><a href="#" class="delete_notification" title="Remove Notification" data-note-id="{:id}">&#10799;</a></span></div></div>
[/block: liked_row]

[block: quoted_row]
<div id="note-{:id}" class="box"><div class="body group"><img class="{:icon}" src="{:this_template}/images/comments/{:icon}.png" alt="" /> <a href="{:profile_link}"><img src="{:avatar}" height="20" width="20" alt="" /> {:username}</a> quoted your comment on "<a href="{:link}">{:title}</a>"<span class="fright"><a href="#" class="delete_notification" title="Remove Notification" data-note-id="{:id}">&#10799;</a></span></div></div>
[/block: quoted_row]

[block: none]
<div class="box"><div class="body group">You have zero :(</div></div>
[/block: none]

[block: bottom]
{:pagination}
[/block: bottom]
