[block: list]
				<!-- Misc Links & Stuff -->
				<div class="box">
					<div class="head">Livestreams &amp; Videos</div>
					<div class="body list">
					<ul>
						{:title}
						{:date}
						<li><a href="/index.php?module=livestreams">View all scheduled streams</a></li>
						<li><a href="/index.php?module=video">View video creator directory</a></li>
					</ul>
					</div>
				</div>
[/block: list]
