[block: menu]
				<!-- Facebook IFrame Sidebar -->
				<div class="box">
					<div class="head">Facebook</div>
					<div class="body">
						<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgamingonlinux%2F&tabs=timeline&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=180636358619396" width="250" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
					</div>
				</div>
[/block: menu]
