[block: list]
				<!-- Comments Sidebar -->
				<div class="box">
					<div class="head">Latest Comments</div>
					<div class="body list">
						<ul class="list-group">
							{:comment_posts}
							<li><span class="glyphicon glyphicon-th-list"></span> <a href="{:latest_link}">See more comments</a></li>
						</ul>
					</div>
				</div>
[/block: list]
