[block: list]
				<!-- Misc Links & Stuff -->
				<div class="box">
					<div class="head">Misc</div>
					<div class="body list">
					<ul>
						<li><a href="{:about_link}">About Us</a></li>
						<li><a href="{:url}index.php?module=website_stats">Website Statistics</a></li>
					</ul>
					</div>
				</div>
[/block: list]
