.octus-editor, .octus-editor select {
	font-family: "Open Sans", "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.octus-editor .styles {
	background: #f1f1f1;
	border: 1px solid #cecfd1;
	color: #a5a5a5;
	padding: 14px 14px 7px 14px;
}
.octus-editor .styles ul {
	float: left;
	list-style: none;
	margin: 0 7px 7px 0;
	padding: 0;
}
.octus-editor > .styles > ul > li {
	background: #ffffff;
	border: 1px solid #ddd;
	cursor: pointer;
	float: left;
	padding: 5px 14px;
	position: relative;
	text-decoration: none;
	margin-left: -1px;
	width: auto;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.octus-editor > .styles > ul > li:active {
	-webkit-transform: translateY(1px);
	 -khtml-transform: translateY(1px);
	   -moz-transform: translateY(1px);
		 -o-transform: translateY(1px);
			transform: translateY(1px);
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, 0);
	   -moz-box-shadow: 0 1px rgba(0, 0, 0, 0);
			box-shadow: 0 1px rgba(0, 0, 0, 0);
}
.octus-editor > .styles > ul > li.dropdown:active, .octus-editor > .styles > ul > li.color:active {
	-webkit-transform: translateY(0px);
	 -khtml-transform: translateY(0px);
	   -moz-transform: translateY(0px);
		 -o-transform: translateY(0px);
			transform: translateY(0px);
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.octus-editor > .styles > ul > li.bold {
	font-weight: bold;
}
.octus-editor > .styles > ul > li.italic {
	font-style: italic;
}
.octus-editor > .styles > ul > li.underline {
	text-decoration: underline;
}
.octus-editor > .styles > ul > li.strike {
	text-decoration: line-through;
}
.octus-editor > .styles > ul > li.no-pad {
	padding: 0 !important;
}
.octus-editor > .styles > ul > li  select {
	background: transparent;
	border: none;
	color: #a5a5a5;
	cursor: pointer;
	padding: 6px 21px 6px 8px;
	margin: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}
.octus-editor > .styles > ul > li  select::-ms-expand {
	display: none;
}
.octus-editor > .styles > ul > li  select option {
	padding-top: 1px;
	padding-bottom: 1px;
}
.octus-editor > .styles > ul > li.dropdown {
	position: relative;
	z-index: 800;
}
.octus-editor > .styles > ul > li.dropdown:before {
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #a5a5a5;
	height: 0;
	position: absolute;
	top: 7px;
	right: 6px;
	width: 0;
	z-index: -1;
}
.octus-editor > .styles > ul > li.dropdown:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #a5a5a5;
	content: "";
	height: 0;
	position: absolute;
	bottom: 8px;
	right: 6px;
	width: 0;
	z-index: -1;
}
.octus-editor > .styles > ul > li > select option {
	border: none;
}
.octus-editor > .styles > ul > li.dropdown ul.smiley li {
	background-repeat: no-repeat;
	background-position: 7px 5px;
	padding-left: 30px;
}
.octus-editor > .styles > ul > li.dropdown {
	width: 100%;
}
.octus-editor > .styles > ul > li.dropdown ul {
	display: none;
	background: #ffffff;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 34px;
	left: -1px;
	width: 100%;
	line-height: 20px;
}
.octus-editor > .styles > ul > li.dropdown:hover ul {
	display: inherit;
}
.octus-editor > .styles > ul > li.dropdown ul li {
	border-bottom: 1px solid #dddddd;
	padding: 5px;
	margin: 0;
}
.octus-editor > .styles > ul > li.dropdown ul li:last-child {
	border: none;
}

/* Color */
.color .black {background: #000000;}
.color .blue {background: #68A1EC;}
.color .red {background: #ff0000;}
.color .green {background: green;}
.color .yellow {background: #ffff00;}
.color .color-current {
	margin: 4px;
	padding: 11px 11px 12px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .4) inset;
	   -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .4) inset;
			box-shadow: 0px 0px 3px rgba(0, 0, 0, .4) inset;
}
.color .color-picker {
	background: #ffffff;
	border: 1px solid #dddddd;
	display: none;
	left: -1px;
	position: absolute;
	width: 91px;
	z-index: 1001;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.color .color-picker ul li {
	float: left;
	margin: 4px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .4) inset;
	   -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .4) inset;
			box-shadow: 0px 0px 3px rgba(0, 0, 0, .4) inset;
}
.color:hover .color-picker {
	display: block;
}
.octus-editor > .styles > ul > li.align {
	padding: 8px 14px 6px;
}
.octus-editor > .styles > ul > li.align.left, .octus-editor > .styles > ul > li.align.right {
	padding: 9px 14px 7px;
}
.align.left .line {
	float: left;
}
.align.center .line {
	display: block;
	float: none;
	margin: 2px auto;
}
.align.right .line {
	float: right;
}
.align .line {
	background: #a5a5a5;
	clear: both;
	height: 1px;
	margin: 1px;
	padding: 0;
	width: 12px;
}
.align .line.short {
	width: 8px;
}
.octus-editor .no-script {
	border-left: 1px solid #cecfd1;
	border-right: 1px solid #cecfd1;
	border-bottom: 1px solid #cecfd1;
	padding: 14px 14px 14px 49px;
	position: relative;
}
.octus-editor .no-script:before {
	content: "";
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 25px solid #FF9500;
	height: 0;
	position: absolute;
	top: 11px;
	left: 10px;
	width: 0;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}
.octus-editor .no-script:after {
	color: #ffffff;
	content: "!";
	position: absolute;
	top: 15px;
	left: 23px;
}
.octus-editor .textarea {
	background: #ffffff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.dark .octus-editor .textarea {
	background: #222222;
}
.octus-editor .textarea > textarea {
	border: none;
	color: #444444;
	line-height: 1.5em;
	padding: 21px;
	resize: vertical;
	margin: 0;
	min-height: 400px;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
/* Can't group these together, why.... */
.octus-editor .textarea > textarea::-webkit-selection {
	background: #f1f1f1 !important;
	color: #333333 !important;
}
.octus-editor .textarea > textarea::-moz-selection {
	background: #CECFD1 !important;
	color: #333333 !important;
	padding: 7px;
}
.octus-editor .textarea > textarea::selection {
	background: #CECFD1 !important;
	color: #333333 !important;
}
/* Can't group these together, why.... */
.octus-editor .options {
	float: right;
	margin-top: 14px;
}
.octus-editor a.button {
	background: #f1f1f1;
	border: 1px solid #ddd;
	color: #444;
	cursor: pointer;
	float: left;
	padding: 4px 14px;
	position: relative;
	text-decoration: none;
	margin-left: 7px;
	width: auto;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.octus-editor a.button:active {
	-webkit-transform: translateY(1px);
	 -khtml-transform: translateY(1px);
	   -moz-transform: translateY(1px);
		 -o-transform: translateY(1px);
			transform: translateY(1px);
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, 0);
	   -moz-box-shadow: 0 1px rgba(0, 0, 0, 0);
			box-shadow: 0 1px rgba(0, 0, 0, 0);
}
