[block: add_chart]
<div class="box">
	<div class="head">Add a new chart</div>
	<div class="body group">
		<form id="chart_form" method="post" action="admin.php?module=charts">
			Chart name: <input type="text" name="name" value="{:name}" /><br />
			Sub title: <input type="text" name="sub_title" value="{:sub_title}" /><br />
			<label><input type="checkbox" id="chart_grouped" name="grouped" /> Grouped chart? (for data comparisons like OpenGL vs Vulkan on different settings</label>
			Horizontal Axis Label (bottom of the chart): <input type="text" name="h_label" value="{:h_label}" /><br />
			<label><input type="checkbox" name="order_by_data"> Order by data? (If unchecked, order goes by the labels as they are entered!)</label>
			Labels <em>Colours left blank if not setting or if grouped chart</em>
			<div id="label_container">
				<div id="label-1" class="input-field box fleft" style="width: 50%"><span class="addon">Label #1:</span><input class="labels" type="text" name="labels[]" placeholder="label 1" /></div>
				<div id="colour-1" class="input-field box fleft" style="width: 50%"><span class="addon">Colour #1:</span><input class="colours" type="text" name="colours[]" placeholder="#ffffff" /></div>
				<div id="label-2" class="input-field box fleft" style="width: 50%"><span class="addon">Label #2:</span><input class="labels" type="text" name="labels[]" placeholder="label 2" /></div>
				<div id="colour-2" class="input-field box fleft" style="width: 50%"><span class="addon">Colour #2:</span><input class="colours" type="text" name="colours[]" placeholder="#ffffff" /></div>

			</div>
			<button style="float: none" id="add_label" type="button">Add Label</button> <button style="float: none" id="remove_label" type="button">Remove Label</button><br />
			<div class="group" id="data_container">
				For data groups: Add the group name and colour after the number like "45,OpenGL":<br />
				<div id="data-1" class="box">Data for Label #1<input class="data" name="data-1">{:data}</input></div>
				<div id="data-2" class="box">Data for Label #2<input class="data" name="data-2">{:data}</input></div>
			</div>
			<button type="submit" name="submit" value="Add">Add</button> <button type="button" id="preview_chart" name="preview_chart">Preview Chart</button>
			<input type="hidden" name="act" value="add_chart" /> 
		</form>
	</div>
</div>
<div class="chart_preview">
</div>
[/block: add_chart]

[block: manage_charts]
<div class="box">
	<div class="head">Manage your existing charts - <a href="/admin.php?module=charts&amp;view=add">Add a new chart</a></div>
</div>
{:chart_list}
[/block: manage_charts]

[block: chart]
<div class="box">
	<ul class="breadcrumb">
		<li><a href="/admin.php?module=charts&view=manage">Back to your charts</a></li>
		<li class="active">{:chart_name}</li>
	</ul>
</div>
<div class="box">
	<div class="head">Here's how it looks currently - <a href="/admin.php?module=charts&view=add">Create new chart</a></div>
	<div class="body group">{:chart}</div>
</div>
<div class="box">
	<div class="head">BBCode</div>
	<div class="body group"><input id="bbcode" type="text" value="[chart]{:chart_id}[/chart]" /><br />
		<button class="btn" data-clipboard-target="#bbcode">Copy</button>
	</div>
	<div class="head">Edit</div>
	<div class="body group">
		<form method="post" formaction="/admin.php?module=charts">
			<label><input type="checkbox" name="enabled" {:enabled_check} />Chart enabled and viewable?</label>
			Chart name:<br />
			<input type="text" name="name" value="{:name}"/><br />
			Chart subtitle:<br />
			<input type="text" name="sub_title" value="{:sub_title}"/><br />
			<label><input type="checkbox" name="order_by_data" {:data_order_check}> Order by data? (If unchecked, order goes by the labels as they are entered!)</label>
			<input type="hidden" name="chart_id" value="{:chart_id}" />
			<button type="submit" name="act" value="edit_chart" formaction="/admin.php?module=charts">Edit Chart</button>
		</form>
	</div>
</div>
[/block: chart]
