[block: top]
<div class="box">
	<div class="head">Here you can dump pre-done text and have an article setup for you</div>
	<div class="body">Encompass text like so:<br />
		=title=<strong>text</strong>=title=<br />
		=tags=<strong>AMD,Editorial</strong>=tags= (don't leave spaces between the commas)<br />
		=tagline=<strong>text</strong>=tagline=<br />
		=text=<strong>main content</strong>=text=
	</div>
</div>
[/block: top]

[block: main]
<div class="box">
	<div class="body group">
		<form method="post" action="">
			<button value="" name="" type="submit" formaction="/admin.php?module=article_dump&amp;dump">Send to editor</button>
			<textarea name="text" rows="50"></textarea>
			<button value="" name="" type="submit" formaction="/admin.php?module=article_dump&amp;dump">Send to editor</button>
		</form>
	</div>
</div>
[/block: main]
