[block: submit_main]
<div class="box"><div class="head">Manage user submitted games for the release calendar here</div>
[/block: submit_main]

[block: submit_item]
		<div class="body group cal">
			<form method="post" action="admin.php?module=calendar">
				Game Name: <input type="text" name="name" value="{:name}" /><br />
				Official website:<br />
				<input type="text" name="link" value="{:link}" /><br />
				Release Date:
				<input name="date" id="datepicker_{:id}" type="text" value="{:date}"/>
				<script>
				var picker = new Pikaday({
					field: document.getElementById('datepicker_{:id}'),
					format: "DD-MM-YYYY",
					showTime: false
				});</script>
				Best guess <em>If we don't have an exact date!</em> <input type="checkbox" name="guess" {:guess_check}/><br />
				Genres<br />
				<select tabindex="-1" multiple="" name="genre_ids[]" id="genres" class="populate select2-offscreen">{:genre_list}</select><br />
				<button formaction="admin.php?module=calendar&amp;return=submitted" name="act" value="Approve" type="submit">Approve</button> <button formaction="admin.php?module=games&amp;return=submitted" name="act" value="Delete" type="submit">Delete</button>
				<input type="hidden" name="id" value="{:id}" />
			</form>
		</div>
[/block: submit_item]

[block: submit_bottom]
</div>
[/block: submit_bottom]
