[block: top]
<div class="masonry">
[/block: top]

[block: image_row]
<div class="box">
  <div class="body group">
    {:name}<br />
    <a class="gallery_item" data-filename="{:filename}" data-id="{:id}" href="#"><img src="/uploads/tagline_gallery/{:filename}" alt="image" /></a>
  </div>
</div>
[/block: image_row]

[block: bottom]
</div>
[/block: bottom]
