[block: search]
<div class="box">
	<div class="head">
		Search for a specific game
	</div>
	<div class="body group">
		<form method="post" action="admin.php?module=games&view=search">
			Game Name: <input type="text" name="name"  /><br />
			<button formaction="admin.php?module=games&view=search" name="search" value="Search" type="submit">Search</button>
		</form>
	</div>
</div>
[/block: search]

[block: search_result_top]
<div class="box">
[/block: search_result_top]

[block: search_items]
<div class="body group">
{:name} - <a href="admin.php?module=games&view=edit&id={:id}">Edit</a>
</div>
[/block: search_items]

[block: search_result_bottom]
</div>
[/block: search_result_bottom]

[block: add_top]
<div class="box"><div class="head">Adding a game to the games database</div>
[/block: add_top]

[block: edit_top]
<script src="includes/jscripts/jquery.form.min.js"></script>
<div class="box">
	<div class="head">
		Edit the game <span class="fright"><a href="/index.php?module=game&game-id={:id}">View in live database</a></span>
	</div>
[/block: edit_top]

[block: item]
			<div class="body group">
				<form method="post" action="admin.php?module=games">
					<em>Games have to have at least one link at a minimum!</em><br />
					<br />
					Game Name: <input type="text" name="name" value="{:name}" /><br />
					<label>Free game? <em>Tick if this game is free/free to play</em> <input type="checkbox" name="free_game" {:free_check}/></label>
					License <select name="license">{:license_options}</select><br />
					Official website:<br />
					<input type="text" name="link" value="{:link}" /><br />
					Steam Link:<br />
					<input type="text" name="steam_link" value="{:steam_link}" /><br />
					GOG Link:<br />
					<input type="text" name="gog_link" value="{:gog_link}" /><br />
					itch.io Link:<br />
					<input type="text" name="itch_link" value="{:itch_link}" /><br />
					Release Date: <br />
					<input name="date" id="datepicker" type="text" value="{:date} "/>
					<script>
					var picker = new Pikaday({
						field: document.getElementById('datepicker'),
						format: "DD-MM-YYYY",
						showTime: false
					});</script>
					Best guess <em>If we don't have an exact date!</em> <input type="checkbox" name="guess" {:guess_check}/><br />
					<br />
					DLC <em>Tick if this is a DLC</em> <input type="checkbox" name="dlc" {:dlc_check}/><br />
					Base game name <em>If it's a DLC, what game is it for?</em><br />
					<select tabindex="-1" name="game" id="articleGames" style="width:300px" class="populate select2-offscreen"><option value="0">None</option>{:base_game}</select><br />
					<button class="clear-games">Clear game</button><br />
					<br />
					Genres<br />
					<select tabindex="-1" multiple="" name="genre_ids[]" id="genres" class="populate select2-offscreen">{:genre_list}</select><br />
					<br />
					Description:<br />
[/block: item]

[block: add_bottom]
<button formaction="admin.php?module=games" name="act" value="Add" type="submit">Add</button>
</form>
</div>
</div>
[/block: add_bottom]

[block: edit_bottom]
<button formaction="admin.php?module=games&amp;return={:return}" name="act" value="Edit" type="submit">Edit</button> <button formaction="admin.php?module=games&amp;return={:return}" name="act" value="Delete" type="submit">Delete</button>
<input type="hidden" name="id" value="{:id}" />
</form>
</div>
</div>
[/block: edit_bottom]

[block: add_genre]
<div class="box"><div class="head">Here you can add a genre tag for the games database</div></div>
<div class="box">
	<div class="body group">
		<form method="post" action="admin.php?module=games" class="form-inline">
			Genre Name: <input type="text" name="name" placeholder="genre name..." /> <button type="submit" name="act" value="add_genre">Add</button>
		</form>
	</div>
</div>
<div class="box"><div class="head">Current Categorys:</div></div>
[/block: add_genre]

[block: genre_row]
<div class="box">
	<div class="body group">
		<form method="post" action="admin.php?module=games" class="form-inline">
		Genre Name: <input type="text" name="name" value="{:name}" /> <button type="submit" name="act" value="edit_genre">Edit</button> <button type="submit" name="act" value="delete_genre">Delete</button>
		<input type="hidden" name="genre_id" value="{:genre_id}" />
		</form>
	</div>
</div>
[/block: genre_row]

