[block: top]
<div class="box">
	<div class="head">Moderation Queue</div>
</div>
[/block: top]

[block: approve_forum]
<div class="box">
	<div class="body group">
					<strong>{:mod_type}</strong> - Title: {:title}, by <a href="/profiles/{:author_id}">{:username}</a>
					<div id="r{:comment_id}" class="comment group">
						<div class="comment-meta group">
							<div class="comment-post">
								{:text}
							</div>
						</div>
					</div>
					<form action="" method="post">
						<button type="submit" onclick="setTimeout(disableFunction, 1);" name="action" value="approve">Approve</button> <button type="submit" onclick="setTimeout(disableFunction, 1);" name="action" value="remove">Remove</button> <button type="submit" onclick="setTimeout(disableFunction, 1);" name="action" value="remove_ban">Remove & Ban User</button>
						<input type="hidden" name="type" value="{:type}" />
						<input type="hidden" name="topic_id" value="{:topic_id}" />
						<input type="hidden" name="post_id" value="{:post_id}" />
						<input type="hidden" name="author_id" value="{:author_id}" />
						<input type="hidden" name="forum_id" value="{:forum_id}" />
						<input type="hidden" name="creation_date" value="{:creation_date}" />
					</form>
	</div>
</div>
[/block: approve_forum]


[block: bottom]

[/block: bottom]
